.messages {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 85%;
    overflow-y: scroll;
}

.message {
    display: block;
    padding: 1rem;
}

.message.chat {
    background: rgb(247,247,248);
    border-bottom: 1px solid #d9d9e3;
}
.message.error {
    color: var(--error-color);
    border-bottom: 1px solid var(--error-color);
}